<div class="btn_group">
    <!--<a href="javascript:void(0)">-->
    <!--结局1-->
    <!--</a>-->
    <!--<a href="javascript:void(0)">-->
    <!--结局2-->
    <!--</a>-->
    <!--<a href="javascript:void(0)">-->
    <!--结局3-->
    <!--</a>-->
    <!--<a href="javascript:void(0)">-->
    <!--结局4-->
    <!--</a>-->
    <!--<a href="javascript:void(0)">-->
    <!--结局5-->
    <!--</a>-->
    <!--<a href="javascript:void(0)">-->
    <!--结局6-->
    <!--</a>-->
    <a href="javascript:void(0)"
       ng-repeat="end in ends"
       ng-class="{clicked:end.watched}"
       class="btn"
       ng-click="watchMovies($index+1)">{{end.movie}}</a>
</div>