<div class="container">
    <div ui-view="KV"></div>
    <div ui-view="main" class="video_area"></div>
    <p class="txt">参加考试年代初爱死你下家是厂考试年代初爱死你下家是厂家是厂考试年代初爱死你下家是厂家是厂考试年代初爱死你下家是厂家少参加考试年代初爱死你下家是厂家少参加考试年代初爱死你下家是厂家少参加考试年代初爱死你下家是厂家少年到参加考试年代</p>
    <div class="share_bg" ng-show="layerShow" ng-click="hideLayer()"></div>
    <p class="wx_txt" ng-show="layerShow && isWechat">
        点击右上角<br/>
        分享给微信好友或朋友圈
    </p>
    <p class="wb_txt" ng-show="layerShow && !isWechat">
        1.长按保存二维码图片<br/>
        2.开启微信扫一扫<br/>
        3.选择相册内二维码图片扫描<br/>
        4.分享微信好友或朋友圈
        <span></span>
    </p>
</div>