<div class="drop_content part-2 in-page">
    <div class="target">
        <h1>1.将右边的小视频拖入相应的框中</h1>
        <ul class="r-game game-drop">
            <li ng-repeat="theme in vm.themes track by $index"
                ng-drop="true" ng-drop-success="vm.dropComplete($data, $index, $event)"
                ng-class="[{'even': $index % 2 === 1}, theme.class]">
                <span ng-bind-html="theme.title" ng-show="!theme.video"></span>
                <div ng-show="theme.video">
                    <video ng-src="{{theme.video.src}}" controls preload="auto"></video>
                </div>
            </li>
        </ul>
        <div class="test" ng-show="vm.questions">
            <h1>2. 请根据题干，选择正确答案（多选题）</h1>
            <div ng-repeat="que in vm.questions track by $index" choice-question="que" on-answer="vm.onAnswer(an, $index)">

            </div>
        </div>
    </div>
    <ul class="drop">
        <li ng-repeat="video in vm.videos track by $index">
            <div ng-drag="true" ng-drag-data="video" data-allow-transform="true">
                <video ng-src="{{video.src}}" controls preload="auto"></video>
            </div>
        </li>
    </ul>
</div>
