<div class="drop_content part-2 in-page">
    <div class="target">
        <h1>1.将右边的小视频拖入相应的框中</h1>
        <ul class="r-game game-drop">
            <li ng-repeat="theme in vm.themes track by $index" ng-class="{'even': $index % 2 === 1}">
                <span ng-bind-html="theme"></span>
            </li>
        </ul>
        <div class="test" ng-show="vm.questions">
            <h1>2. 请根据题干，选择正确答案（多选题）</h1>
            <div ng-repeat="que in vm.questions track by $index">
                <p class="q-2">{{que.que}}</p>
                <div class="test_left">
                    <a href="javascript:void(0);" class="option">{{que.opts[0]}}</a>
                    <a href="javascript:void(0);" class="option">{{que.opts[1]}}</a>
                </div>
                <div class="test_right">
                    <a href="javascript:void(0);" class="option">{{que.opts[2]}}</a>
                    <a href="javascript:void(0);" class="option">{{que.opts[3]}}</a>
                </div>
            </div>
        </div>
    </div>
    <ul class="drop">
        <li ng-repeat="video in vm.videos track by $index">
            <div>
                <video ng-src="{{video}}" controls preload="auto"></video>
            </div>
        </li>
    </ul>
</div>
