<div class="training_content part-4">
    <h4>1. 你能够成为一个更好的销售吗？右边的是可供滑动的五个等级。<br/>
        &nbsp;&nbsp;&nbsp;零表示你不能够提升，五表示你可以做的更好。</h4>
    <ul class="num">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
    </ul>
    <div class="self-as" ng-repeat="ass in vm.assess track by $index">
        <p>{{ass}}</p>
        <ul ng-init="index = $index">
            <li ng-repeat="op in vm.ops track by $index">
                <a href="javascript:void(0);"
                   ng-click="vm.assessSelf(index, $index)"
                   ng-class="[op, {'r-checked':vm.ar[index] === $index}]"></a>
            </li>
        </ul>
    </div>
</div>
