<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../../Bootstrap/bootstrap.css"/>
    <script src="../../../framework/1.3.0.14/angular.js"></script>
</head>
<body ng-controller="ctrl.select.cascade">

<div class="row col-md-5">
    <div class="col-md-4">
        <select name="" class="form-control" ng-model="vm.country" ng-options="country.label for country in vm.countries">
            <option value="">-- 请选择国家 --</option>
        </select>
    </div>
    <div class="col-md-4" ng-if="vm.country.provinces">
        <select name="" class="form-control" ng-model="vm.province" ng-options="province.label for province in vm.country.provinces">
            <option value="">-- 请选择省份/州 --</option>
        </select>
    </div>
    <div class="col-md-4" ng-if="vm.province.cities">
        <select name="" class="form-control" ng-model="vm.city" ng-options="city.label for city in vm.province.cities">
            <option value="">-- 请选择城市/县区 --</option>
        </select>
    </div>
</div>
<br/>
<div>你选择的是：{{vm.country.label}} - {{vm.province.label}} - {{vm.city.label}}</div>
<br/>
<div class="alert alert-info">
    这里使用ng-if指令来达到下一级有数据才显示下一级的效果
</div>
<br/>
<div class="alert alert-success">
    <a href="http://www.ngnice.com/showcase/#/select/cascade">原文在这里</a>
</div>

<script>
    'use strict';
    angular.module('myApp',[])
            .controller('ctrl.select.cascade', function ($scope, CityData) {
                var vm = $scope.vm = {};
                vm.countries = CityData;

                $scope.$watch('vm.country', function (country) {
                    vm.province = null;
                });

                $scope.$watch('vm.province', function (province) {
                    vm.city = null;
                });
            })
            .constant('CityData', [
                {
                    label:'中国',
                    flag:'cn.png',
                    provinces:[
                        {
                            label:'北京',
                            cities:[
                                {
                                    label:'朝阳区'
                                },
                                {
                                    label:'武宣区'
                                },
                                {
                                    label:'海淀区'
                                }
                            ]
                        },
                        {
                            label:'河北',
                            cities:[
                                {
                                    label:'邯郸'
                                },
                                {
                                    label:'石家庄'
                                },
                                {
                                    label:'唐山'
                                }
                            ]
                        }
                    ]
                },
                {
                    label:'美国',
                    flag:'us.png',
                    provinces:[
                        {
                            label:'纽约',
                            cities:[
                                {
                                    label:'曼哈顿区'
                                },
                                {
                                    label:'皇后区'
                                }
                            ]
                        },
                        {
                            label:'德克萨斯州',
                            cities:[
                                {
                                    label:'休斯顿'
                                },
                                {
                                    label:'达拉斯'
                                }
                            ]
                        }
                    ]
                }
            ]);

</script>

</body>
</html>