
div.view-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.main.ng-enter,
div.mng.ng-enter,
div.edit.ng-enter,
div.coupons.ng-enter,
div.products.ng-enter,
div.product.ng-enter {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
div.main.ng-leave,
div.mng.ng-leave,
div.edit.ng-leave,
div.coupons.ng-leave,
div.products.ng-leave,
div.product.ng-leave {
    -webkit-animation-name: rotateOutDownRight;
    animation-name: rotateOutDownRight;
}

div.user-info.ng-enter,
div.user-order.ng-enter,
div.user-assets.ng-enter{
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    -o-animation-name: bounceInRight;
    animation-name: bounceInRight;
}
div.user-info.ng-leave,
div.user-order.ng-leave,
div.user-assets.ng-leave{
    -webkit-animation-name: bounceOutLeft;
    -moz-animation-name: bounceOutLeft;
    -o-animation-name: bounceOutLeft;
    animation-name: bounceOutLeft;
}

.iscroll-wrapper.ng-enter {
    -webkit-animation-name: zoomInRight;
    animation-name: zoomInRight;
}

.iscroll-wrapper.ng-leave {
    -webkit-animation-name: zoomOutLeft;
    animation-name: zoomOutLeft;
}

div.p-error.ng-enter {
    -webkit-animation-name: fadeInDownBig;
    animation-name: fadeInDownBig;
}
div.p-error.ng-leave {
    -webkit-animation-name: fadeOutDownBig;
    animation-name: fadeOutDownBig;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}