<form class="modify-password" name="MPF">
    <br/>
    <br/>
    <p>
        <label for="old-password">原密码：</label>
        <input type="password"
               ng-model="vm.old"
               p-v
               ng-minlength="6"
               maxlength="16"
               required
               name="old"
               id="old-password"/>
        <span>
            <em ng-show="(MPF.old.$invalid && MPF.old.$dirty) || (MPF.old.$invalid && vm.submit)">
                密码应为6-16个字符组成
            </em>
        </span>
    </p>
    <p>
        <label for="new-password">新密码：</label>
        <input type="password"
               ng-model="vm.new"
               p-v
               ng-minlength="6"
               maxlength="16"
               required
               name="new"
               id="new-password"/>
        <span>
            <em ng-show="( MPF.new.$invalid && MPF.new.$dirty) || (vm.new === vm.old && vm.old !== undefined) || (MPF.new.$invalid && vm.submit)" >
                {{vm.new === vm.old && vm.old !== undefined ? '新旧密码不能一样' : '密码应为6-16个字符组成' }}
            </em>
        </span>
    </p>
    <p>
        <label for="re-password">确认新密码：</label>
        <input type="password"
               ng-model="vm.reNew"
               p-v
               ng-minlength="6"
               maxlength="16"
               required
               name="new2"
               id="re-password"/>
        <span>
            <em ng-show="(MPF.new2.$dirty && vm.reNew != vm.new) || (vm.submit && vm.reNew != vm.new)" >
                两次输入密码不一致
            </em>
        </span>
    </p>

    <a href="javascript:void(0);"
       class="animated" ng-class="{'shaking': vm.shake}"
       ng-click="vm.modify(MPF.$valid)">确认修改</a>
</form>