<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div my-example max="77"></div>
<script src="../../framework/1.4.7/angular.js"></script>
<script>
    (function () {
        angular
                .module('app', [])
                .directive('myExample', myExample);

        function myExample() {
            var directive = {
                restrict: 'EA',
                template: '<div>hello world</div>'+
                '<div>max={{vm.max}}<input ng-model=vm.max /></div>'+
                '<div>min={{vm.min}}<input ng-model=vm.min /></div>',
                scope: {
                    max: '='
                },
                link: linkFunc,
                controller : ExampleController,
                controllerAs: 'vm',
                bindToController: true // because the scope is isolated
            };

            return directive;

            function linkFunc(scope, el, attr, ctrl) {
                console.log('LINK: scope.min = %s *** should be undefined', scope.min);
                console.log('LINK: scope.max = %s *** should be undefined', scope.max);
                console.log('LINK: scope.vm.min = %s', scope.vm.min);
                console.log('LINK: scope.vm.max = %s', scope.vm.max);
            }
        }

        ExampleController.$inject = ['$scope'];

        function ExampleController($scope) {
            // Injecting $scope just for comparison
            var vm = this;

            vm.min = 3;

            console.log('CTRL: $scope.vm.min = %s', $scope.vm.min);
            console.log('CTRL: $scope.vm.max = %s', $scope.vm.max);
            console.log('CTRL: vm.min = %s', vm.min);
            console.log('CTRL: vm.max = %s', vm.max);
        }
    })();
</script>
</body>
</html>