<!DOCTYPE html>
<html ng-app="TestFormModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form ng-controller="TestFormModule" name="myForm" ng-submit="save()">
    <input type="text" name="userName" ng-model="user.userName" required/>
    <input type="password" name="password" ng-model="user.password" required/>
    <input type="submit" ng-disabled="myForm.$invalid"/>
</form>

<script src="../../framework/1.3.0.14/angular.js"></script>
<script>
    var testFromModule = angular.module('TestFormModule', []);
    testFromModule.controller('TestFormModule', ['$scope', function ($scope) {
        $scope.user = {
            userName:'zhin',
            password:''
        };
        $scope.save = function () {
            alert('success!!');
        }
    }]);
</script>
</body>
</html>