<div class="container detail">
    <h1 class="form_title">个性定制</h1>
    <form name="cf">
        <p>
            <label for="pro_name">品名</label>
            <select name="pro_name" id="pro_name" ng-model="vm.f.name" ng-options="pro as pro for pro in vm.products">
            </select>
        </p>
        <p>
            <label for="num">数量</label>
            <input type="number" id="num" name="num" ng-model="vm.f.count"
                   required ng-class="['_animated', {shook:vm.tL.submit && cf.num.$invalid}]"/>
            <i ng-show="vm.tL.submit && cf.num.$invalid">*请填写数量</i>
        </p>
        <p>
            <label>送达时间</label>
            <date-select dates="vm.dates" date="vm.f.time"></date-select>
        </p>
        <p>
            <label for="require">个性要求</label>
            <textarea id="require" ng-model="vm.f.requires"></textarea>
        </p>
        <a class="form_address" ng-show="!vm.chosenAdr.phone" ui-sref="addressMng">
            选择收获地址
            <span>
                <img alt="" src="img/arrow_b.png" width="100%"/>
            </span>
        </a>
        <a class="form_address" ng-show="vm.chosenAdr.phone" ui-sref="addressMng" ng-cloak>
            姓名：{{vm.chosenAdr.name}}
            <br>
            手机：{{vm.chosenAdr.phone}}
            <br>
            地址：{{vm.chosenAdr.city}}&nbsp;&nbsp;{{vm.chosenAdr.address}}
                   <span>
                       <img alt="" src="img/arrow_b.png" width="100%"/>
                   </span>
        </a>
        <a href="javascript:void(0)" class="submit_btn" ng-click="vm.custom(cf.$valid)">
            提交
        </a>
    </form>
</div>
