<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../Bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="sweet-alert.css"/>
    <script src="../../framework/1.4.7/angular.js"></script>
    <script src="../../framework/1.4.7/angular-animate.js"></script>
</head>
<body ng-controller="SweetAlertController">

<div>{{swalData}}</div>

<apd-sweet-alert heading="swalData.heading" text="swalData.text"
                 view-alert="swalData.show" close-cb="swalData.close()"></apd-sweet-alert>

<div class="inner-controller" ng-controller="InnerController">
    <button class="btn btn-primary" ng-click="outSwalShow()">inner button</button>
    <button class="btn btn-info" ng-click="TEST()">TEST</button>
</div>

<script type="text/ng-template" id="alert-template.html">
    <div>
        <div ng-show="viewAlert" class="sweet-overlay"></div>
        <div ng-show="viewAlert" class="sweet-alert">
            <h3>{{heading}}</h3>
            <p>{{text}}</p>
            <button class="confirm" ng-click="close()">OK</button>
        </div>
    </div>
</script>
<script>
    angular.module('apd.sweetalert', ['ngAnimate'])
            .directive('apdSweetAlert', function () {
                return {
                    restrict:'EA',
                    templateUrl:'alert-template.html',
                    replace:true,
                    scope:{
                        heading:'=',
                        text:'=',
                        viewAlert:'=',
                        closeCb:'&closeCb'
                    },
                    link: function (scope, element, attrs) {
                        scope.close = function () {
                            scope.viewAlert = false;
                            if (angular.isDefined(attrs.closeCb)) {
                                scope.closeCb();
                            }
                        }
                    }
                }
            })
</script>
<script>
    angular.module('myApp', ['apd.sweetalert'])
            .value('swalData', function () {
                return {
                    heading:'swal title',
                    text:'swal content',
                    show:true,
                    close: function () {
                        console.log('out close');
                    }
                }
            })
            .controller('SweetAlertController', ['$scope', '$timeout', 'swalData', function ($scope, $timeout, swalData) {
                $scope.swalData = swalData;
            }])
            .controller('InnerController', function ($scope, swalData) {
                $scope.swalData = swalData;


                $scope.outSwalShow = function() {
                    $scope.swalData.heading = 'inner title';
                    $scope.swalData.show = true;
                    $scope.swalData.close = $scope.close;
                };
                $scope.close = function () {
                    console.log('inner close');
                };

                $scope.TEST = function () {
                    angular.extend($scope.swalData, {heading:'test test title', show:true, close: function () {
                        console.log('test test close');
                    }});
                }
            });
</script>
</body>
</html>